<html>

	<script src="jquery-1.8.2.min.js"></script>
	<script src="underscore.js"></script>
	<style>
		.keyword {
			color:red;
		}
		.failed {
			background-color:#ffaaaa
		}
		.passed {
			background-color: #aaffaa
		}
		.skipped {
			background-color: #aaaaFF
		}
	</style>
	<script>
		var applyTemplate = function(template) {
			return function(step) {
				return _.template(template, step);
			}
		};
		var join = function(listOfStrings) {
			return _.reduce(listOfStrings, function(memo, next) { return memo + next; });
		};
		
		var prettyPrintDocString = function(doc_string, callback) {
			if (doc_string && doc_string.value) {
				var json = doc_string.value;
				var stringified = JSON.stringify(JSON.parse(json), undefined, 2);
				                          
				callback("<pre>" + stringified + "</pre>");
			} else {
				callback(null)
			}
			
		};
		var stepTemplate = "<li class=<%=step.result.status%>><span class='keyword'><%=step.keyword%></span> <%=step.name%> <%prettyPrintDocString(step.doc_string, function(out) { %> <%=out%><%})%></li>";
		
		var stepsTemplate = "<ul><% _.each(element.steps, function(step) { %>" + stepTemplate + "<%})%></ul>"
		
		var scenarioTemplate = "<h2><%=element.keyword%>: <%=element.name%></h2><p>" + stepsTemplate + "</p>";
		
		var featureTemplate = "<h1><%=keyword%>: <%=name%></h2><p><% _.each(elements, function(element){%>" + scenarioTemplate + "<%})%></p>"
// 		$.getJSON("cucumber-report.json", 
		var report = function(report) {
			console.log("scc")
			
			
			console.log(JSON.stringify(report, undefined, 2))
			var step = report[0]
			console.log(step)
			
			$("body").append(_.template(featureTemplate, step));
		}
// 		)
		
	</script>
	<body>
		
	</body>

</html>